<%- include('partials/header') %>

        <form action="/user-input" method="post" class="input-form">
            <h1>Create Book Notes</h1>
            <label for="book_name">Book Name</label>
            <input type="text" id="book_name" name="bookInput" />
            <label for="book_rating">Rating (1-10)</label>
            <input type="text" id="book_rating" name="bookRating" />
            <label for="date">Date Finished</label>
            <input type="text" id="date" name="dateEntry" placeholder="format YYYY-MM-DD"/>
            <label for="book-notes">Notes</label>
            <input type="text" id="book_notes" name=booknNotes"/>
            <button type="submit">Submit</button>
        </form>

        </div>

    </body>
</html>
