<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="styles.css" />
    </head>
    <body>
        <div class="container">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="index">Add Book Notes</a></li>
            <li><a href="view">View Book Notes</a></li>
        </ul>

        <form action="/user-input" method="post" class="input-form">
            <h1>Create Book Notes</h1>
            <label for="movie_name">Movie Name</label>
            <input type="text" id="movie_name" name="bookInput" />
            <label for="movie_rating">Rating (1-10)</label>
            <input type="text" id="movie_rating" name="bookRating" />
            <label for="date">Date Finished</label>
            <input type="text" id="date" name="dateEntry" placeholder="format YYYY-MM-DD"/>
            <label for="book-notes">Notes</label>
            <input type="text" id="book_notes" name=booknNotes"/>
            <button type="submit">Submit</button>
        </form>

        </div>

    </body>
</html>
