<%- include('partials/header.ejs') %>
            <ul>
                <% allBookNotes.forEach( (note) => { %>
                <h2>Title:<%= note.title %></h2>
                <h2>Rating:<%=note.rating%></h2>
                <p>Review:</p>
                <p><%= note.notes %></p>
                <% }); %>
            </ul>
        </div>
    </body>
</html>
