ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 350px;
    border-right: 1px solid #333;
}

li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555555;
    color: white;
}

label {
    display: block;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 100vh;
}

form {
    margin-left: 100px;
}

.page-title {
    margin-left: 100px;
}

.row-inputs {
    display: flex;
    flex-direction: row;
}

.input-section {
    padding-left: 100px;
}

.input-section .review-section textarea {
    width: 800px;
    height: 200px;
    background-color: grey;
    color: white;
}

.page-content {
    display: block;
    padding: 20px;
    margin: 20px;
    width: 100%;
}

.allNote ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style:none;

}

.fullCard {
    display:flex;
    flex-direction:row;
    background-color: lightblue;
}

.eachNote {
    background-color: grey;
    border: solid blue 5px;
    height:400px;
    width:400px;
    margin: 10px;
}

.title {
    display: block;
    background-color: yellow;
}

.ratinganddate {
    display: flex;
    flex-direction: row;
    background-color: green;
    justify-content: space-evenly;
}

.reviewsection {
    display: flex;
    flex-direction: column;
    background-color: beige;
    justify-content: center;
}

.reviewtitle {
    background-color: pink;
}

.reviewRecord {
    background-color: teal;
    margin-top: -20px;
}

.imageSection img {
    padding:30px;
    padding-top: 50px;
    height:300px;
    width:300px;
}

.noteCard {
   height: 500px;
   width: 500px;
   background-color: orange;
}
